<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Parts</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
        }
        h2 {
            text-align: center;
        }

        .btn-grey {
            background-color: grey;
            border-color: grey;
            color: #fff;
        }
    </style>
</head>
<body>

<div class="container">
    <h2>Brands List</h2>

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="brand : ${brands}">
            <td th:text="${brand.name}">Name</td>

            <td>
                <form th:action="@{/deleteCarBrand/{id}(id=${brand.id})}" method="post">
                    <button type="submit" class="btn btn-grey delete-order-btn">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/showBrandForm}">
        <button type="button" class="btn btn-grey mt-2">Add new Brand</button>
    </a>
</div>

<!-- Bootstrap JS and jQuery (optional) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
